@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply font-gilgan;
}

@font-face {
  font-family: "gilgan";
  src: url("./assets/fonts/Gilgan.otf");
}

body {
  @apply max-w-2xl m-auto
}
@layer utilities {
  .card-gradient {
    @apply py-[7%] px-2 rounded-xl;
    background: linear-gradient(135deg, #DF98FA 0%, #9055FF 100%);
  }

  .card {
    @apply bg-white shadow-lg rounded-lg py-5 px-4 mb-6 before:absolute before:content-[''] before:bg-primaryColor before:p-1 before:left-0 before:top-0 before:bottom-0
  }

  .card-2 {
    @apply px-4 py-2 rounded-xl flex justify-between items-center shadow-lg;
    background: rgba(134, 62, 213, 0.05);
  }

  .category-active {
    @apply text-primaryColor font-bold relative before:absolute before:content-[''] before:border-b-2 before:border-primaryColor before:-left-0 before:w-full before:bottom-0
  }
}