@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply font-gilgan;
}

@font-face {
  font-family: "gilgan";
  src: url("./assets/fonts/Gilgan.otf");
}

body {
  @apply h-screen max-w-[860px] m-auto overflow-hidden
}

#root {
  @apply bg-[#180B37] 
}

.react-multi-carousel-dot-list {
  @apply bg-white px-7 py-4 bottom-0 left-0 right-0 top-shadow;
  position: fixed !important;
  padding: 1rem 1.75rem !important;
  justify-content: space-around !important;
}

.header-bg {
  @apply h-80 sm:h-96;
  position: absolute;
  content: '';
  background-image: url('./assets/image/pray-img/header-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  right: 0;
}

.card-container {
  @apply grid sm:grid-cols-2 sm:gap-5;
}

@layer utilities {
  .top-shadow {
    box-shadow: 0px -3px 7px rgba(0, 0, 0, 0.1);
  }

  .card-gradient {
    @apply py-[7%] px-2 rounded-xl;
    background: linear-gradient(135deg, #DF98FA 0%, #9055FF 100%);
  }

  .card {
    @apply w-full bg-white shadow-lg rounded-lg py-5 px-4 mb-6 before:absolute before:content-[''] before:bg-primaryColor before:p-1 before:left-0 before:top-0 before:bottom-0
  }

  .card-active {
    @apply bg-primaryColor bg-opacity-10 border-2 border-primaryColor shadow-lg rounded-lg py-5 px-4 mb-6 before:absolute before:content-[''] before:bg-primaryColor before:p-1 before:left-0 before:top-0 before:bottom-0
  }

  .card-2 {
    @apply px-4 py-2 rounded-xl flex justify-between items-center shadow-lg;
    background: rgba(134, 62, 213, 0.05);
  }

  .category-active {
    @apply text-primaryColor font-bold relative before:absolute before:content-[''] before:border-b-2 before:border-primaryColor before:-left-0 before:w-full before:-bottom-0 before:translate-y-[0.85rem]
  }

  .list-footer {
    @apply relative before:content-[''] before:absolute before:-top-[1rem] before:-left-1.5 before:border-t-defaultColor before:border-t-4 before:w-11 before:origin-center before:transform before:-translate-y-1/2 before:transition-transform before:ease-in-out before:duration-500
  }
}