.slide-up-enter {
    transform: translateY(100%);
    opacity: 0;
}

.slide-up-enter-active {
    transform: translateY(0);
    opacity: 1;
    transition: transform 700ms ease-in-out, opacity 700ms ease-in-out;
}

.slide-up-exit {
    transform: translateY(0);
    opacity: 1;
}

.slide-up-exit-active {
    transform: translateY(100%);
    opacity: 0;
    transition: transform 700ms ease-in-out, opacity 700ms ease-in-out; 
}

.slide-down-enter {
    transform: translateY(-100%);
    opacity: 0;
}

.slide-down-enter-active {
    transform: translateY(0);
    opacity: 1;
    transition: transform 700ms ease-in-out, opacity 700ms ease-in-out;
}

.slide-down-exit {
    transform: translateY(0);
    opacity: 1;
}

.slide-down-exit-active {
    transform: translateY(-100%);
    opacity: 0;
    transition: transform 700ms ease-in-out, opacity 700ms ease-in-out;
}